/* nav bar style  */
header {
    background-color: #faf8f8;
    color: #353232;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: rgb(204, 69, 132);
}

.logo {
    display: flex;
    gap: 2px;
    align-items: center;
    margin-left: 10%;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo span {
    color: #353232
}

.nav-title {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.left-menu li {
    display: inline;
    margin-right: 10px;

}

.left-menu li a {
    color: #000000;
    text-decoration: none;
}

.menu-item {
    background-color: rgb(233, 233, 222);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}


/* main banner style */

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left-main {
    flex: 1;
    padding-left: 20%;
}

.right-main {
    flex: 1;
    text-align: center;
    margin-right: 10%;
    margin-bottom: 10px;

}

h2,
p,
h1 {
    margin-bottom: 5px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0;
    color: rgb(218, 44, 203);
    font-size: 45px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

ul li img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.button {
    justify-content: left;
    gap: 20px;
    /* margin: 20px; */
    display: flex;
    border-radius: 50%;
}

.button1 {
    padding: 15px;
    background-color: rgb(252, 76, 184);
    color: white;
}

.button2 {
    padding: 15px;
    background-color: rgb(116, 168, 226);
    color: white;
}

img {
    max-width: 100%;
    height: auto;
}

/* second section optional */
.optional {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.optional1 {
    margin-left: 15px;
}

.optional2 {
    margin-top: 20px;
    text-align: right;
    margin-right: 10px;
}

.button3-div {
    position: relative;
}

.button3 {
    position: absolute;
    background-color: #f779c7;
    color: white;
    right: 0;
}

/* third section */
.choose {
    text-align: center;
    margin: 5%;
}

.choose p {
    margin-bottom: 5%;
}

.choose-game {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.choose-game img {
    width: auto;
    height: 350px;
}

.choose-game span {
    color: black;
}

/* forth section */
.forth {
    display: flex;
    margin: 150px;
    justify-content: center;
    gap: 30px;
}

.left-div {
    margin-right: 20px;
    text-align: right;
}

.right-div {
    margin-left: 30px;
    position: relative;
    text-align: center;

}

.right-div .Rectangle-55 {
    position: relative;
    width: 500px;
    z-index: 1;
}

.right-div .Rectangle-66 {
    position: absolute;
    bottom: -70px;
    left: -80px;
    width: 200px;
    z-index: 2;
}

/* 5th section style */
.fifth {
    display: flex;
    margin: 150px;
    justify-content: center;
    gap: 30px;
}

.right-div {
    margin-left: 50px;
    text-align: right;
}

.left-div2 {
    margin-right: 50px;
    position: relative;
    text-align: center;

}

.left-div2 .Rectangle-67 {
    position: relative;
    width: 500px;
    z-index: 1;
}

.left-div2 .Rectangle-78 {
    position: absolute;
    bottom: -70px;
    right: -80px;
    width: 200px;
    z-index: 2;
}

/* 7th section style (button section) */
.button-section {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 100px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

button {
    display: flex;
    align-items: center;
    border: none;
    background-color: #eee;
    border-radius: 20px;
    padding: 10px 15px;
    /* transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer; */
}

.button-section .row button img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.button-section .row button:hover {
    color: #f779c7;
    border: 1px solid #f779c7;
}

/* footer style */
h4 {
    font-size: 40px;
}

.footer {
    color: white;
    padding: 100px;
    text-align: center;
    background-color: #161046;
}

.footer-logo {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer span {
    color: rgb(255, 80, 147);
}

.icon-section {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

@media screen and (max-width:688px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .nav-title {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    section {
        flex-direction: column;
        text-align: center;
    }

    .left-main {
        justify-content: center;
        padding-left: 0;
    }

    .optional {
        flex-direction: column;
        text-align: center;
    }

    .choose-game {
        flex-direction: column;
        text-align: center;
    }

    .left-div2 {
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    .left-div {
        margin-right: 0px;
        margin-bottom: 20px;
        text-align: center;
    }

    .fifth {
        flex-direction: column-reverse;
        text-align: center;
    }

    .forth {
        flex-direction: column;
        text-align: center;
    }

    .button-section {
        padding: 10px;
    }

    .row {
        gap: 10px;
        flex-wrap: wrap;
    }

    .footer-logo {
        text-align: center;
    }

    .icon-section {
        flex-wrap: wrap;
        text-align: center;
    }
}